.listForm {
  margin: 0 5rem;
  text-align: left;
}

.listForm__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.listForm__item::after {
  content: "";
  background-color: rgba(152, 176, 111, 0.5);
  position: absolute;
  right: 0;
  bottom: -.2rem;
  height: 0.1rem;
  width: calc(100% - 3.5rem);
}

.listForm__label {
  display: inline-block;
  position: relative;
  padding: 0 4rem;
  cursor: pointer;
}

svg {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -.5rem;
  left: 0;
  border: 2px solid #98B06F;
}

label svg path {
  transition: stroke-dashoffset .4s linear;
}

input[type="checkbox"] {
  display: none;
  width: 3rem;
  height: 3rem;
}

input[type="checkbox"]:checked ~ label svg path {
  stroke-dashoffset: 0;
}

.textblock {
  margin: 6rem 5rem 0;
  font-size: 2.4rem;
}
